<h3>Gestion des rôles</h3>
<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                           ></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2"
                         ></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Next" icon="pi pi-arrow-right" class="p-button-info p-mb-2"
                            ></button>
                </ng-template>
            </p-toolbar>

<!--            <p-table #dt [value]="roles" [rows]="2" [paginator]="true"-->
<!--                     [globalFilterFields]="['name']"-->
<!--                     [(selection)]="selectedRoles" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"-->
<!--                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"-->
<!--                     [showCurrentPageReport]="true" class="p-col">-->
<!--                <ng-template pTemplate="caption">-->
<!--                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">-->
<!--                        <h5 class="p-m-0">Manage Roles</h5>-->
<!--                        <span class="p-input-icon-left">-->
<!--                            <i class="pi pi-search"></i>-->
<!--                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"-->
<!--                                   placeholder="Search..."/>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </ng-template>-->
<!--                <ng-template pTemplate="header">-->
<!--                    <tr>-->
<!--                        <th style="width: 3rem">-->
<!--                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--                        </th>-->
<!--                        <th pSortableColumn="name" class="p-column-title">Name-->
<!--                            <p-sortIcon field="name"></p-sortIcon>-->
<!--                        </th>-->
<!--                        <th pSortableColumn="name" class="p-column-title">Permission-->
<!--                            <p-sortIcon field="name">-->
<!--                            </p-sortIcon>-->
<!--                        </th>-->
<!--                        <th pSortableColumn="name" class="p-column-title">Actions-->
<!--                            <p-sortIcon field="name"></p-sortIcon>-->
<!--                        </th>-->
<!--                    </tr>-->
<!--                </ng-template>-->
<!--                <ng-template pTemplate="body" let-role let-rowIndex="rowIndex">-->
<!--                    <tr>-->
<!--                        <td>-->
<!--                            <p-tableCheckbox [value]="role"></p-tableCheckbox>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            {{role.name}}-->
<!--                            &lt;!&ndash;  <p-megaMenu [model]="items" orientation="vertical"></p-megaMenu> &ndash;&gt;-->
<!--                        </td>-->
<!--                        <td><span *ngFor="let permission of role.permissions">{{permission.name}}<br></span>-->

<!--                        </td>-->

<!--                        <td>-->
<!--                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"-->
<!--                                    (click)="editRole(role,rowIndex)"></button>-->
<!--                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"-->
<!--                                    (click)="deleteRole(role,rowIndex)"></button>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </ng-template>-->
<!--                <ng-template pTemplate="summary">-->
<!--                    <div class="p-d-flex p-ai-center p-jc-between">-->
<!--                        In total there are {{roles ? roles.length : 0 }} roles.-->
<!--                    </div>-->
<!--                </ng-template>-->
<!--            </p-table>-->
        </div>

    </div>
</div>
